<section class="thirteen columns">
    <h1>Fellowships, Awards, and International Experience</h1>
    <article>
        <header>
            <h1>Critical Language Scholarship: Indonesian</h1>
            <span>State University of Malang</span>
            <span><address>Malang, Indonesia</address><time>Summer 2015</time></span>
        </header>
        <p>
            A 9-week, 20 hr/week intensive language immersion program
            with an emphasis on advanced speaking and writing skills
            in formal Indonesian. Funding via the U.S. Department of
            State Bureau of Educational and Cultural Affairs. <a href=http://clscholarship.org/>CLS Homepage</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Fulbright-Hays Group Study Abroad: COTI Advanced Indonesian Abroad</h1>
            <span>Satya Wacana Christian University</span>
            <span><address>Salatiga, Indonesia</address><time>Summer 2014</time></span>
        </header>
        <p>
            A two-month language program focused on the acquisition of
            upper-intermediate language skills in formal Indonesian. <a href="http://www.international.ucla.edu/cseas/article/122827">COTI Abroad Program Homepage</a>
        </p>
    </article>
</section>
