<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MA in Computational Linguistics</h1>
            <span>The Graduate Center, CUNY</span>
            <span><address>New York, NY</address><time>2014 to 2016 (expected)</time></span>
        </header>
        <p>
            <em>Thesis:</em> Infixer: A Method for Segmenting
            Non-Concatenative Morphology in Tagalog
        </p>
        <p>
            Coursework in natural language processing, statistics, and
            theoretical linguistics. Areas of interest include
            morphological segmentation, low-resource languages,
            machine learning, and language modeling.
        </p>
    </article>
    <article>
        <header>
            <h1>BA in Chinese Language and Literature</h1>
            <span>Colgate University</span>
            <span><address>Hamilton, NY</address><time>2005 to 2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Chinese Language Program</h1>
            <span>Tsinghua University</span>
            <span><address>Beijing, China</address><time>2009 to 2010</time></span>
        </header>
        <p>
            Two semesters of advanced spoken and written Mandarin
            Chinese at Tsinghua's International Chinese Language &
            Culture Center.
        </p>
    </article>
</section>
