<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span>Baruch College School of Public Affairs</span>
            <span><address>New York, NY</address><time>2015</time></span>
        </header>
        <p>
            <ul type="circle">
                <li>Collected and analyzed NYC education and small
                    business data for a non-profit evaluation project</li>
                <li>Assisted with report compilation for NY City Council</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Data Analyst</h1>
            <span>Lutheran Family Health Centers: Community Based Programs</span>
            <span><address>Brooklyn, NY</address><time>2013 to 2014</time></span>
        </header>
        <p>
            <ul>
                <li>Configured and implemented client management
                    database system for more than 30 staff members and
                    2000 community and educational program clients</li>
                <li>Reported evaluation data to city, state, and
                    federal agencies, private funders, and internal
                    assessment</li>
                <li>Developed in-house systems for data collection,
                    quality assurance, and performance evaluation</li>
                <li>Directly supervised data management personnel</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>AmeriCorps Coordinator</h1>
            <span>Lutheran Family Health Centers: Community Based Programs</span>
            <span><address>Brooklyn, NY</address><time>2012 to 2013</time></span>
        </header>
        <p>
            <ul>
                <li>Recruited, trained, and supervised approximately
                    30 AmeriCorps members annually</li>
                <li>Wrote state and federal grant applications, and
                    managed all evaluation and progress reporting</li>
                <li>Developed and maintained data systems for tracking
                    member service data</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Vocational Instructor</h1>
            <span>Lutheran Family Health Centers: Community Empowerment Program</span>
            <span><address>Brookly, NY</address><time>2011 to 2013</time></span>
        </header>
        <p>
            <ul>
                <li>Developed and taught job readiness curriculum for
                vocational training programs</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>AmeriCorps Member</h1>
            <span>Lutheran Family Health Centers: Community Empowerment Program</span>
            <span><address>Brooklyn, NY</address><time>2011</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>ESOL Instructor</h1>
            <span>Beijing Forestry University</span>
            <span><address>Beijing, China</address><time>2010</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Manager, Sound Technician</h1>
            <span>Student Activities Sound, Colgate University</span>
            <span><address>Hamilton, NY</address><time>2006 to 2009</time></span>
        </header>
    </article>
</section>
