<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming and Software</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp; <em>Python</em> (<em>NLTK</em>, <em>Scipy-stack</em>),
            <em>Excel</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp; <em>R</em>, <em>SQL</em>, <em>LaTeX</em>, <em>Shell</em>,
            <em>MS Access</em>, <em>SAP BusinessObjects</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp; <em>Stata</em>, <em>Java</em> (<em>Android API</em>),
            <em>HTML & CSS</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <em>English</em>: native
        </p>
        <p>
            <em>Mandarin Chinese</em>: advanced spoken and written
        </p>
        <p>
            <em>Indonesian</em>: advanced spoken and written
        </p>
        <p>
            <em>Malay</em>: reading
        </p>
        <p>
            <em>Spanish</em>: intermediate conversational
        </p>
    </article>
</section>
