
<section class="thirteen columns">
    <h1>Talks</h1>
        <article>
            <header>
                <h1>Morphology and Python</h1>
                <span><address>New York Python Meetup Group</address>
                    <date>April 29, 2016</date></span>
            </header>
            <p>
                One of three invited speakers for the group's
                <em>Natural Language Pythoning event</em>. Slides and code
                available <a href="https://github.com/srbutler/pymeetup_morphology">here</a>.
            </p>
        </article>
</section>
